.contenedorNos{
   

    .imagenLogoNos {
        width: 200px;
        justify-content: right;
        transform: translate(20px);
    
    }
    
    .cabeceraNos {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        margin: 15px;
        border: solid;
        display: flex;
        justify-content: space-around;
        font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
        
        .texto a {
            color: black;
        }
    
    
    }
}