$redes:(
    facebook:blue,
    instagram: red,
    whatsapp: green,
   
);
@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
    
}
$estilos:(
    color: rgb(233, 219, 219),
    centro: center,
    tFuente: 35px,
);

@mixin size ($border, $color) { 
    border: $border;
    color: $color;  
}
.cabecera{
    @include size( solid,rgb(0, 0, 0) )
}






